@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@if (!Model.Any())
{
    <p>There is no customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
        </tr>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { Id= customer.Id },null)</td>
        </tr>
        }
    </table>
}

